

<!-- 2- I have created a capitalize pipe to make the first alphabet of first and last name capital-->



<div class="row">
  <div class="col-xs-12">
    <input type="text" 
    [(ngModel)]="filterName" 
    id="search" 
    placeholder="Type to Search" 
    class="form-control"
    style="margin-top:30px">
    <br><br>

    <button class="btn btn-primary" type="button" (click)="onGet()">Get Data</button>

    <hr>
    <h3>Form Values</h3>
    <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>First Name</th>
              <th>LastName</th>
              <th>Age</th>
              <th>Date</th>
              <th>Designation</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userDataArray | filter:filterName">
              <td>{{item.firstname}}</td>
              <td>{{item.lastname | capitalize}}</td>
              <td>{{item.Age}}</td>
              <td>{{item.Date| date:'shortDate'}}</td>
              <td>{{item.Prefix|uppercase}}</td>
            </tr>
          </tbody>
        </table>
      </div>

  </div>
</div>